<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_window.Properties.Settings.ql_sancaulongConnectionString"
            connectionString="Data Source=DESKTOP-AN9GNNF\SQLEXPRESS;Initial Catalog=ql_sancaulong;Persist Security Info=True;User ID=sa;Password=Tinh2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>